broker.id=206
port=9092
num.partitions=8
num.network.threads=4
num.io.threads=8
log.dirs=/kafka/logs
log.retention.hours=24
log.segment.bytes=536870912
log.cleanup.interval.mins=1
zookeeper.connection.timeout.ms=1000000
socket.send.buffer.bytes=1048576
socket.receive.buffer.bytes=1048576
socket.request.max.bytes=104857600
kafka.metrics.polling.interval.secs=60
kafka.metrics.reporters=#################
kafka.csv.metrics.dir=/kafka/metrics
kafka.csv.metrics.reporter.enabled=false
zookeeper.connect=######:2181,####:2181,#####:2181/kafka/qa
kafka.graphite.metrics.group=kafka.######
ssl.keystore.location=/etc/kafka/server.keystore.jks
ssl.keystore.password=###
ssl.truststore.location=/etc/kafka/server.truststore.jks
ssl.truststore.password=###
ssl.client.auth=required
listeners=PLAINTEXT://kafka01.###:9092,SSL://kafka01.##:9093
pod.list=########
topics=#####
delete.topic.enable=true
num.recovery.threads.per.data.dir=10
offsets.retention.minutes=1440
kafka.graphite.metrics.reporter.enabled=false
kafka.graphite.metrics.host=graphite.####
kafka.graphite.metrics.port=2003
kafka.influxdb.metrics.reporter.enabled=false
kafka.influxdb.metrics.address=http://kafk01.###:8086
kafka.influxdb.metrics.database=kafka_#####
